{% extends 'base.html' %}

{% block content %}
<div class=blocktext>
    <h1>Your mastered sets</h1>

    <div class="entries">
        {% for mastered_translated_phrase in mastered_translated_phrases %}
            <div class="single_entry">
                <p class="phrase">'{{mastered_translated_phrase.first_language_phrase.phrase}}'</p>
                <p class="language"> Practise in: {{mastered_translated_phrase.language.title.capitalize()}}</p>
                <p class="difficulty">Difficulty: {{mastered_translated_phrase.first_language_phrase.difficulty.capitalize()}}</p>
                <div class="buttons">
                        <a href="/mastered_snaps/{{mastered_translated_phrase.id}}/play">Play</a>
                        <a href="/mastered_snaps/{{mastered_translated_phrase.id}}/edit">Edit</a>
                        <form class="delete" action="/mastered_snaps/{{mastered_translated_phrase.id}}/delete" method="POST">
                            <button class="trash-button"><i class="far fa-trash-alt fa-2x" style="color:grey" aria-hidden="true" ></i></button>
                        </form>
                </div>
                <p class="tags">
                    {% for tag_translated_phrase in tag_translated_phrases  %}
                        {% if tag_translated_phrase.translated_phrase.id == mastered_translated_phrase.id %}
                            #{{tag_translated_phrase.tag.title}}   
                        {% endif %}
                        
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
