{% extends 'base.html' %}

{% block content %}

<h1>Your mastered sets</h1>

<div class="entries">
    {% for mastered_translated_phrase in mastered_translated_phrases %}
        <div class="single-entry">
            {{mastered_translated_phrase.first_language_phrase.phrase}}
            <p class="language"> Practise in: {{mastered_translated_phrase.language.title}}</p>
            <p class="difficulty">Difficulty: {{mastered_translated_phrase.first_language_phrase.difficulty}}</p>
            <div class="buttons">
                    <a href="/mastered_snaps/{{mastered_translated_phrase.id}}/play">Play</a>
                    <a href="/mastered_snaps/{{mastered_translated_phrase.id}}/edit">Edit</a>
                    <form class="delete" action="/mastered_snaps/{{mastered_translated_phrase.id}}/delete" method="POST">
                        <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:grey" aria-hidden="true"></i></button>
                    </form>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock content %}
