{% extends 'base.html' %}

{% block content %}

<h1>Your mastered sets</h1>

<div>
    {% for mastered_translated_phrase in mastered_translated_phrases %}
    <div class="entries">
        <div class="single-entry">
            {{mastered_translated_phrase.first_language_phrase.phrase}}
            <div class="language">
            <p> Practise in: {{mastered_translated_phrase.language.title}}</p>
            </div>
            <div class="difficulty">
            <p>Difficulty: {{mastered_translated_phrase.first_language_phrase.difficulty}}</p>
            </div>
            <div class="buttons">
                <form class="delete" action="/mastered_snaps/{{mastered_translated_phrase.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
                </form>
                <p><a href="/mastered_snaps/{{mastered_translated_phrase.id}}/play">Play</a></p>
                <p><a href="/mastered_snaps/{{mastered_translated_phrase.id}}/edit">Edit</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}
