{% extends 'base.html' %}

{% block content %}
<div class="solo_blocktext">
    <h1>Play your sentence!</h1>

    <form action="/mastered_snaps/{{translated_phrase.id}}/results" method="POST">
    <div class="play_single_entry">
        <p class="phrase">
            "{{translated_phrase.first_language_phrase.phrase}}"
        </p>
        <p>
            <label for="answer">In {{translated_phrase.language.title.capitalize()}}:</label>
            <input type="text" name="answer" id="answer" placeholder="Enter your answer" required>
        </p>
        <p class="submitbutton">
            <input type="submit" value="Submit">
        </p>
    </div>
</div>
</form>


{% endblock content %}
