body {
    background-color: #7b59e4;
    font-family: 'Nunito', sans-serif;
    height: 100%;
  }
  
.navlink {
    max-width: 30em;
    margin: 0 auto;
}
.navitem{
    opacity: 0.7;
    display: inline;
    padding-right: 10px;
}

.navitem:hover {
    opacity: 1;
}

body > ul> li> a {
    color: black;
  }

.navlist{
    padding-left: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    color: #a1cff5;
    margin-bottom: 20px;
}



.blocktext {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-top: 100px; */
}

.solo_blocktext {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  /* margin-top: 100px; */
}

.entries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 20px;
}


.single_entry {
  opacity: 0.7;
  background-color: #9190e9 ;
  width: 250px;
  /* height: 250px; */
  /* margin:10px; */
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.single_entry:hover {
  opacity: 1;
}

.play_single_entry {
  opacity: 0.7;
  background-color: #9190e9 ;
  width: 250px;
  /* height: 250px; */
  /* margin:5px; */
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.play_single_entry:hover {
  opacity: 1;
}

.info {
  background-color: #9190e9 ;
  width: 250px;
  /* height: 250px; */
  margin:5px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.play_form {
  text-align: center;
}

.phrase {
  font-weight: 700;
}

.input_text {
  font-weight: 600;
}

hr {
    border: 2px solid black
}

input[type="text"] {
    background-color: #9190e9;
    color: black;
    border:none;
    border-bottom: solid 2px black;
    outline: none;
}

input[type="text"]:active {
    background-color: #7b59e4;
    color: black;
    border:none;
    border-bottom: solid 2px black;
    outline: none;
}

input[type="text"]:focus {
  background-color: #7b59e4;
  color: black;
  border:none;
  border-bottom: solid 2px black;
  outline: none;
}


select {
    background-color: #9190e9;
    color: black;
    border:none;
    border-bottom: solid 2px black;
    outline: none;
}

.filter_drop_down {
  background-color: #7b59e4;
}

input[type=submit] {
    background-color:#4d3a91;
    color: white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
  }

.submitbutton {
    /* width: 50%; */
    opacity: 0.7;
    /* margin: 0 auto; */
}

.submitbutton:hover {
    opacity: 1;
}

.play_submitbutton {
  /* width: 50%; */
  opacity: 0.7;
  text-align: center;
  /* margin: 0 auto; */
}

.play_submitbutton:hover {
  opacity: 1;
}

.filter_submitbutton {
  padding: 0;
  font-size: 10px;
}

p {
    padding-top: 3px;
    padding-bottom: 3px;
}

a:link, a:visited {
    background-color:#4d3a91;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }


.delete {
    display: inline-block;
}

.tags {
    font-style: italic;
  
}

::placeholder { 
  color: #4d3a91;
}

.filter_form {
  padding: 5px;
  display: inline-block;

}

.user_input {
  color: black;
}

.trash-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}