<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Lingua Snaps</title>
</head>
<body>
<main>
    <nav>
        <ul class="navlist">
            <li class="navitem">
                <a href="{{ url_for('base.index') }}">Home</a>
            </li>
            <li class="navitem">
                <a href="{{ url_for('base.info') }}">How To Use</a>
            </li>
            <li class="navitem">
                <a href="{{ url_for('sentence_snaps_blueprint.sentence_snaps') }}">Sentence Snaps</a>
            </li>
            <li class="navitem">
                <a href="{{ url_for('mastered_snaps_blueprint.mastered_snaps') }}">Mastered Snaps</a>
            </li>
            <li class="navitem">
                <a href="/sentence_snaps/new">Create New Snap</a>
            </li>
            <li class="navitem">
                <a href="{{ url_for('base.create_new_tag') }}">Create A New Tag</a>
            </li>
            <li class="navitem">
                <a href="{{ url_for('language_blueprint.add_new_language') }}">New Language</a>
            </li>
        </ul>
    </nav>
    <hr>
    <section>
        {% block content %}
            
        {% endblock content %}
    </section>
</main>
</body>
</html>