<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <title>Lingua Snaps</title>
</head>
<body>
<main>
    <nav>
        <ul>
            <li class="navitem">
                <a href="{{ url_for('base.index') }}">Home</a>
            </li>
        </ul>
    </nav>
    <hr>
    <section>
        {% block content %}
            
        {% endblock content %}
    </section>
</main>
</body>
</html>