{% extends 'base.html' %}

{% block content %}
<div class="solo_blocktext">
    <h1> Create A New Tag</h1>
        <div>
            <form action="/create_new_tag/new" method="POST" class="play_single_entry">
                <p>
                    <label for="new_tag" class="input_text">Name of new tag:</label>
                    <input type="text" name="new_tag" id="new_tag" placeholder="#" required autocomplete="off">
                </p>
                <p class="submitbutton">
                    <input type="submit" value="Submit">
                </p>            
            </form>
            <div>
                Existing tags:
                {% for tag in all_tags %}
                    #{{tag.title}}
                    <form class="delete" action="/create_new_tag/{{tag.id}}/delete" method="POST">
                        <button class="trash-button"><i class="far fa-trash-alt fa-1x"  aria-hidden="true"></i></button>
                    </form>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock content %}