{% extends 'base.html' %}

{% block content %}

<div class="solo_blocktext">
    <h1>Your Sentence Snaps</h1>

<h2>
    <a href="/sentence_snaps/new" class="navitem">Add New Snap</a>
    <a href="/create_new_tag" class="navitem">Create New Tag</a>
</h2>
<h3>
    <div>
        <form action="/sentence_snaps/filter" method='POST' class="filter_form">
        <label for="tag_choice">Filter by tag:</label>
            <select name="tag_choice" id="tag_choice" class="filter_drop_down">
                <option value="show_all">Show All</option>
                {% for tag in all_tags %}
                <option value="{{tag.title}}">{{tag.title.capitalize()}}</option>
                {% endfor %}
            </select>
            <span>
                <input type="submit" value="Submit" class="submitbutton">
            </span>
        </form>
    <form action="/sentence_snaps/filter_by_language" method='POST' class="filter_form">
      <label for="filter_by_language">Filter by language:</label>
            <select name="filter_by_language" id="filter_by_language" class="filter_drop_down">
              <option value="{{chosen_language.id}}">{{chosen_language.title.capitalize()}}</option>
                {% for language in all_languages  %}
                {% if language.title != chosen_language.title %}
                <option value="{{language.id}}">{{language.title.capitalize()}}</option>
                {% endif %}
                {% endfor %}
              <option value="show_all">Show All</option>
            </select>
            <span class="submitbutton">
                <input type="submit" value="Submit">
            </span>
        </form>
</h3>
    <div class="entries">
        {% for phrase in all_unmastered_phrases_in_language %}
            <div class="single_entry {{phrase.first_language_phrase.difficulty}}">
                <p class="phrase"> '{{phrase.first_language_phrase.phrase.capitalize()}}'</p>
                <p class="language"> Practise in: {{phrase.language.title.capitalize()}}</p>
                <p class="difficulty">Difficulty: {{phrase.first_language_phrase.difficulty.capitalize()}}</p>  
                <div class="buttons">
                    <a href="/sentence_snaps/{{phrase.id}}/play">Play</a>
                    <a href="/sentence_snaps/{{phrase.id}}/edit">Edit</a>
                    <form class="delete" action="/sentence_snaps/{{phrase.id}}/delete" method="POST">
                        <button class="trash-button"><i class="far fa-trash-alt fa-2x" aria-hidden="true"></i></button>
                    </form>
                <p class="tags">
                    {% for tag_translated_phrase in tags_translated_phrases  %}
                        {% if tag_translated_phrase.translated_phrase.id == phrase.id %}
                            #{{tag_translated_phrase.tag.title}}   
                        {% endif %}
                        
                    {% endfor %}
                </p>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
