{% extends 'base.html' %}

{% block content %}
<div class="solo_blocktext">
<h1>Your Sentence Snaps</h1>

<h2>
    <a href="/sentence_snaps/new" class="navitem">Add New Snap</a>
    <a href="/create_new_tag" class="navitem">Create New Tag</a>
</h2>
<h3>
  <div>
        <form action="/sentence_snaps/filter", method="POST" class="filter_form">
        <label for="tag_choice">Filter by tag:</label>
            <select name="tag_choice" id="tag_choice">
                <option value="{{chosen_tag.title}}">{{chosen_tag.title.capitalize()}}</option>
                {% for tag in all_tags %}
                {% if tag.title != chosen_tag.title %}
                <option value="{{tag.title}}">{{tag.title.capitalize()}}</option>
                {% endif %}
                {% endfor %}
                <option value="show_all">Show All</option>
            </select>
            <span class="submitbutton">
                <input type="submit" value="Submit">
            </span>
        </form>
    <form action="/sentence_snaps/filter_by_language" method='POST' class="filter_form">
      <label for="filter_by_language">Filter by language:</label>
          <select name="filter_by_language" id="filter_by_language">
              <option value="show_all">Show All</option>
              {% for language in all_languages %}
              <option value="{{language.id}}">{{language.title.capitalize()}}</option>
              {% endfor %}
          </select>
          <span>
              <input type="submit" value="submit" class="filter_submitbutton">
          </span>
    </form>
</div>
</h3>
    <div class="entries">
        {% for unmastered_translated_phrase in unmastered_translated_phrases %}
            <div class="single_entry">
                <p class="phrase"> '{{unmastered_translated_phrase.first_language_phrase.phrase}}'</p>
                <p class="language"> Practise in: {{unmastered_translated_phrase.language.title}}</p>
                <p class="difficulty">Difficulty: {{unmastered_translated_phrase.first_language_phrase.difficulty}}</p>  
                <div class="buttons">
                    <a href="/sentence_snaps/{{unmastered_translated_phrase.id}}/play">Play</a>
                    <a href="/sentence_snaps/{{unmastered_translated_phrase.id}}/edit">Edit</a>
                    <form class="delete" action="/sentence_snaps/{{unmastered_translated_phrase.id}}/delete" method="POST">
                        <button class="trash-button"><i class="far fa-trash-alt fa-2x" style="color:grey" aria-hidden="true"></i></button>
                    </form>
                <p class="tags">
                    {% for tag_translated_phrase in tags_translated_phrases  %}
                        {% if tag_translated_phrase.translated_phrase.id == unmastered_translated_phrase.id %}
                            #{{tag_translated_phrase.tag.title}}   
                        {% endif %}
                        
                    {% endfor %}
                </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

