{% extends 'base.html' %}

{% block content %}

<h1>Your sentence sets</h1>

<h2>
    <a href="/sentence_snaps/new">Add New</a>
</h2>

<div>
    {% for first_language_phrase in first_language_phrases %}
    <div class="first_language_phrase">
        <div class="content">
            {{first_language_phrase.phrase}}
            <div class="difficulty">
            <p>Difficulty: {{first_language_phrase.difficulty}}</p>
            </div>
            <div class="buttons">
                <form class="delete" action="/sentence_snaps/{{first_language_phrase.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
                </form>
                <p><a href="/sentence_snaps/{{first_language_phrase.id}}/play">Play</a></p>
                <p><a href="/sentence_snaps/{{first_language_phrase.id}}/edit">Edit</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock content %}



<!-- <p><a href="/sentence_snaps/{{first_language_phrase.id}}"> {{first_language_phrase.phrase}}</a></p> -->