{% extends 'base.html' %}

{% block content %}

<h1>Your sentence sets</h1>

<h2>
    <a href="/sentence_snaps/new">Add New</a>
</h2>

<div class="entries">
    {% for unmastered_translated_phrase in unmastered_translated_phrases %}
        <div class="single-entry">
            {{unmastered_translated_phrase.first_language_phrase.phrase}}
            <p class="language"> Practise in: {{unmastered_translated_phrase.language.title}}</p>
            <p class="difficulty">Difficulty: {{unmastered_translated_phrase.first_language_phrase.difficulty}}</p>  
            <div class="buttons">
                <form class="delete" action="/sentence_snaps/{{unmastered_translated_phrase.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-2x" style="color:grey" aria-hidden="true"></i></button>
                </form>
                <a href="/sentence_snaps/{{unmastered_translated_phrase.id}}/play">Play</a>
                <a href="/sentence_snaps/{{unmastered_translated_phrase.id}}/edit">Edit</a>
            </div>
         </div>
    {% endfor %}
</div>



{% endblock content %}



<!-- <p><a href="/sentence_snaps/{{first_language_phrase.id}}"> {{first_language_phrase.phrase}}</a></p> -->