{% extends 'base.html' %}

{% block content %}
<div class="solo_blocktext">
<h1> Add A New Phrase</h1>

<form action="/" method="POST" class="play_single_entry">
    <p>
        <label for="first_language_input" class="input_text">Sentence/phrase:</label>
        <input type="text" name="first_language_input" id="first_language_input" placeholder="Enter your phrase" required autocomplete="off">
    </p>
    <p> 
        <label for="language_choice" class="input_text">I want to practise this phrase in:</label>
            <select name="language_choice" id="language_choice">
        {% for language in languages %}
                <option value={{language.title}}>{{language.title.capitalize()}}</option>   
        {% endfor %}
            </select>
    </p>
        <label for="translated_input" class="input_text">Translated sentence/phrase:</label>
        <input type="text" name="translated_input" id="translated_input" placeholder="Enter your translation" required autocomplete="off">
    <p>
        <label for="difficulty_choice" class="input_text">Difficulty:</label>
            <select name="difficulty_choice" id="difficulty_choice">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
    </p>
    <p class="submitbutton">
        <input type="submit" value="Submit">
    </p>
</form>
</div>

{% endblock content %}