{% extends 'base.html' %}

{% block content %}
<h1> Add a new phrase:</h1>

<form action="/sentence_snaps" method="POST">
    <p>
        <label for="first_language_sentence">Sentence/phrase:</label>
        <input type="text" name="first_language_sentence" id="first_language_sentence" placeholder="Enter your phrase">
    </p>
    <p> 
        <label for="language_choice">I want to practise this phrase in:</label>
            <select name="language_choice" id="language_choice">
        {% for language in languages %}
                <option value={{language.title}}>{{language.title.capitalize()}}</option>   
        {% endfor %}
            </select>
    </p>
        <label for="translated_sentence">Translated sentence/phrase:</label>
        <input type="text" name="translated_sentence" id="translated_sentence" placeholder="Enter your translation">
    <p>
        <label for="difficulty_choice">Difficulty:</label>
            <select name="difficulty_choice" id="difficulty_choice">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
    </p>
    <p class="submitbutton">
        <input type="submit" value="Submit">
    </p>
</form>

{% endblock content %}