{% extends 'base.html' %}

{% block content %}
<div class="solo_blocktext">
    <h1>Show Answer</h1>
    <div class="play_single_entry">
        <p class="phrase">Original phrase:</p>
        '{{translated_phrase.first_language_phrase.phrase.capitalize()}}'
        <p class="phrase">In {{translated_phrase.language.title.capitalize()}}:</p>
        '{{translated_phrase.phrase.capitalize()}}'
        <div class="buttons">
        <a href="/sentence_snaps/{{translated_phrase.id}}/edit">Edit this phrase</a>
        <form class="delete" action="/sentence_snaps/{{translated_phrase.id}}/delete" method="POST">
            <button class="trash-button"><i class="far fa-trash-alt fa-2x"  aria-hidden="true"></i></button>
        </form>
        </div>
        <p>
            <a href="{{ url_for('sentence_snaps_blueprint.sentence_snaps') }}">Back to Sentence Snaps</a>
        </p>
    </div>
</div>
    
{% endblock content %}